<div id="project-title" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/assets/images/nyc.jpg" class="d-block w-100" alt="nyc">
            <div class="carousel-caption rounded-lg">
                <h1 style="font-size: 48px;">Mapping Economic Change in New York City’s Telecom Industry</h1>
                <p class="lead">NYU CUSP Capstone Project 2020</p>
            </div>
        </div>
    </div>
</div>  