<div id="conclusions" class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2>Recommendations</h2>
        </div>
    </div>
    <dl class="row">
        <dt class="col-sm-2">Negotiate</dt>
        <dd class="col-sm-10">
            NYC government can negotiate with ISPs to provide broadband plans at wholesale prices below market rates.
        </dd>
        <dt class="col-sm-2">Subsidize</dt>
        <dd class="col-sm-10">
            NYC government should extend relief to New Yorker households making less than US$20,000 annually,
            means-testing & capping prices to 0.5% to 2% of monthly income.
            This segment represent 46% of households without an internet subscription, or about 231,000 households.
            <br>
            The goal is to alleviate the price burden on those who want/need broadband service but are limited by their
            income.
        </dd>
    </dl>
</div>