<div id ="data" class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2>Project Data</h2>
            <p>TODO: Description</p>
        </div>
        <div class="col-md-3">
            <div class="card border-0" >
                <div class="data-provider-img d-flex justify-content-center">
                    <img src="/assets/images/nyc-doitt.svg" class="card-img img-fluid fixed-height-img" alt="NYC Dept of Info Tech and Telecom Logo">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Broadband Pricing Data</h5>
                    <p class="card-text">This dataset contains pricing information for both land and mobile internet service offered per company at the borough level. </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-0">
                <div class="data-provider-img d-flex justify-content-center">
                    <img src="/assets/images/fcc.png" class="card-img img-fluid fixed-height-img" alt="Federal Communications Commission Logo">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Form 477</h5>
                    <p class="card-text">
                        This dataset tracks the internet service providers (ISPs) that are found within each Census block, the type of infrastructure (e.g. fiber, cable) used to deliver internet service, and the speeds of their service.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-0">
                <div class="data-provider-img d-flex justify-content-center">
                    <img src="/assets/images/census.png" class="card-img img-fluid fixed-height-img" alt="American Community Survey by US Census Logo">
                </div>

                <div class="card-body">
                    <h5 class="card-title">US Census | American Community Survey (ACS)</h5>
                    <p class="card-text">
                        We used the ACS for demographic information such as race, income, and age, and for broadband internet subscription rates.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-0">
                <div class="data-provider-img d-flex justify-content-center">
                    <img src="/assets/images/nyc-open-data-logo.svg" class="card-img img-fluid fixed-height-img" alt="NYC Open Data Logo">
                </div>
                <div class="card-body">
                    <h5 class="card-title">NYC Open Data</h5>
                    <p class="card-text">
                        From NYC's open data portal we fetched the Neighborhood Tabulation Areas (NTAs) shapefiles, Census block shapefiles, 
                        and locations of telecommunications infrastructure.
                        <br>
                        We also referenced NYC's Internet Master Plan for guidance.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
