<div id ="data" class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2>Project Data</h2>
            <p>TODO: Description</p>
        </div>
        <div class="col-md-3">
            <div class="card" >
                <div class="data-provider-img d-flex justify-content-center">
                    <img src="/assets/images/nyc-doitt.svg" class="card-img img-fluid" alt="NYC Dept of Info Tech and Telecom Logo">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Broadband Pricing Data</h5>
                    <p class="card-text">TODO: Description & Datasets</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="data-provider-img d-flex justify-content-center">
                    <img src="/assets/images/fcc.png" class="card-img img-fluid" alt="Federal Communications Commission Logo">
                </div>
                <div class="card-body">
                    <h5 class="card-title">FCC Form 477</h5>
                    <p class="card-text">TODO: Description & Datasets</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="data-provider-img d-flex justify-content-center">
                    <img src="/assets/images/census.png" class="card-img img-fluid" alt="American Community Survey by US Census Logo">
                </div>

                <div class="card-body">
                    <h5 class="card-title">US Census | American Community Survey</h5>
                    <p class="card-text">TODO: Description & Datasets</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="data-provider-img d-flex justify-content-center">
                    <img src="/assets/images/nyc-open-data-logo.svg" class="card-img img-fluid" alt="NYC Open Data Logo">
                </div>
                <div class="card-body">
                    <h5 class="card-title">NYC Open Data</h5>
                    <p class="card-text">TODO: Description & Datasets</p>
                </div>
            </div>
        </div>
    </div>
</div>
