<hr style="margin-bottom: 0;">
<footer>
  <div class="navbar navbar-default">
    <a class="navbar-brand" href="#">
      <p class="lead">NYU CUSP 2020 Capstone</p>
    </a>

    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/westerleyy/nyconnect">
          <div class="social-icons">
            Code
            <img class="team-image" src="/assets/images/github.png">
          </div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="TODO">
          <div class="social-icons">
            Report
            <img class="team-image" src="/assets/images/pdf.png">
          </div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="TODO">
          <div class="social-icons">
            White Paper
            <img class="team-image" src="/assets/images/pdf.png">
          </div>
        </a>
      </li>
    </ul>
  </div>
</footer>