<div class="row">
    <div class="col-12">
        <h2>Methodology</h2>
    </div>
    <div class="col-4">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-spatial" data-toggle="list" href="#spatial-desc" role="tab" aria-controls="spatial">
                Spatial Autocorrelation
            </a>
            <a class="list-group-item list-group-item-action" id="list-regression" data-toggle="list" href="#regression-desc" role="tab" aria-controls="regression">
                Pricing Regression Analysis
            </a>
            <a class="list-group-item list-group-item-action" id="list-market" data-toggle="list" href="#market-desc" role="tab" aria-controls="market">
                Market Analysis 
            </a>
            <a class="list-group-item list-group-item-action" id="list-bayes" data-toggle="list" href="#bayes-desc" role="tab" aria-controls="bayes">
                Bayes Net
            </a>
            <a class="list-group-item list-group-item-action" id="list-twitter" data-toggle="list" href="#twitter-desc" role="tab" aria-controls="twitter">
                Twitter Text Mining
            </a>
        </div>
    </div>
    <div class="col-8">
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="spatial-desc" role="tabpanel" aria-labelledby="list-spatial">
            To test for market spatial segmentation, local and global spatial autocorrelation were calculated. 
            A queen contiguity-based spatial weights was obtained from the geospatial datasets. 
            The degree to which contiguous spatial units reflected similar values, and whether said observed patterns were randomized outcomes were then calculated. 
            This analysis was performed on the Internet Service Providers (ISPs), pricing, and broadband subscription datasets. 
        </div>
        <div class="tab-pane fade" id="regression-desc" role="tabpanel" aria-labelledby="list-regression">
            <p>
                A linear regression is utilized to understand the demand and supply relationship in the NYC telecom industry.  
                The model uses data from 2017-2019 of all 2165 NYC census tracts. 
                The dependent variable we're predicting is the price of broadband service (P).
            </p>
            <p>    
                For the demand side, independent variables include: number of ISPs, subscription rate, race, age, and borough. 
            </p>
            <img src="/assets/images/results/demand_model.png" class="img-fluid fixed-height-img" alt="Demand Model"> 
            <p>
                For the supply side, the only independent variable is the number of broadband service providers in each Census tract (Q). 
            </p>
            <img src="/assets/images/results/supply_model.png" class="img-fluid fixed-height-img" alt="Supply Model">     
        </div>
        <div class="tab-pane fade" id="market-desc" role="tabpanel" aria-labelledby="list-market">
            <p>
                The Herfindahl-Hirschman Index (HHI) was used to estimate the concentration level of the broadband market in New York City.
                This measure is commonly used by the Department of Justice to determine firm-market concentration and competitiveness.
                <br><br>
                The HHI was calculated by taking the sum of the square of each internet firm’s market share,
                taking into account the relative size distribution of each firm. 
                The number will increase when more companies emerge in a market or the disparity in size between those firms decreases. 
                However, this method fails to assess the complexities of various markets in a more accurate way.
            </p>
            <img src="/assets/images/results/hhi.png" class="img-fluid fixed-height-img" alt="HHI model"> 
        </div>
        <div class="tab-pane fade" id="bayes-desc" role="tabpanel" aria-labelledby="list-bayes">
            A Bayesian Network was constructed using demographic data such as race, income, age, and broadband subscription rates,
             plus the number of unique broadband ISPs at the Census block level. 
            The network showed which of those factors had an impact on broadband subscription rates.
        </div>
        <div class="tab-pane fade" id="twitter-desc" role="tabpanel" aria-labelledby="list-twitter">
            Text mining based on Twitter data was performed to provide more insights into the public's perception of current telecom service. 
            Tweet analysis includes: tweet retrieval, text preprocessing, exploratory data analysis, sentiment analysis and word cloud
             visualization. 
            Tweets mentioning a provider and certain service keywords and posted between 2010 and 2020 were scraped using a Python package TWINT. 
            A pre-trained Word2vec-LSTM model then evaluated each tweet’s sentiment on a scale of 0 (negative) to 1 (positive). 
        </div>
      </div>
    </div>
  </div>