<div id="overview" class="container-fluid" style="margin-top:1em">
  <div class="row">
    <div class="col-12">
      <h2>Project Overview</h2>
    </div>
    <div class="col-12 sub-section">
      <h3>
        Our Motivation
      </h3>
      <p class="text-justify">
        New York City's 2020 Internet Master Plan found that there are 1.5 million New Yorkers who do not have any means to connect online. 
        And as the COVID-19 pandemic highlighted, a reliable broadband internet connection is increasingly becoming crucial utility for
        New Yorkers' economic well-being. 
        For these reasons, New York City's Department of Information Technology and Telecommunications (DoITT) wants to understand if the
        current telecommunication industry regulations are effective at generating a competitive industry environment that can provide
        cheap and reliable internet access to all New Yorkers. 
      </p>
    </div>
    <div class="col-12 sub-section">
      <h3>Our Goal</h3>
      <p class="text-justify">
        The team set out to discover if there is an optimal number of ISPs for the New York City market that would improve Internet accessibility
        in terms of coverage area, household adoption rates, and affordability for all New Yorkers. 
        The aim is to produce a policy white paper that explains NYC’s broadband market structure, the factors influencing availability of
          broadband internet and subscription rates, and how DoITT can optimize the regulatory framework.
      </p>
    </div>
</div>
