header {
    background-color: rgba(255, 255, 255, 0.75);
}

/* unvisited link */
a {
    color: black;
}
  
  /* mouse over link */
a:hover {
    color: blue;
}

.row {
    margin-left: .5em;
    margin-right: .5em;
}

.carousel-caption {
    /* transform: translateY(-50%);
    bottom: 0; */
    bottom: 20%; 
    text-align: right;
    color: white;
    background-color: rgba(12,12,12,0.9);
}

.social-icons {
    height: 2em;
}

.team-image {
    height: 100%; 
    width: auto;
}

.data-provider-img {
    height: 10em;
}

.fixed-height-img {
    padding: .5em;
    max-height: 100%;
    max-width: 100%;
    width:auto;
    height:auto;
}

.section-title {
    border-bottom: 1px solid black;
    margin-top: 1em;
    margin-bottom: 2em;
}