header {
    background-color: rgba(255, 255, 255, 0.75);
}

/* unvisited link */
a {
    color: black;
}
  
  /* mouse over link */
a:hover {
    color: blue;
}

.row {
    margin-left: .5em;
    margin-right: .5em;
}

.sub-section {
    background-color: rgba(124, 124, 124, 0.12);
    margin-bottom: 1em;
    margin-top: 1em;
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.sub-section-viz {
    margin-bottom: 1em;
    margin-top: 1em;
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 1em;
    padding-bottom: 1em;    
}

.carousel-caption {
    /* transform: translateY(-50%);
    bottom: 0; */
    bottom: 25%; 
    text-align: right;
    color: white;
    background-color: rgba(12,12,12,0.75);
    padding: 1em;
}

.social-icons {
    height: 2em;
}

.team-image {
    height: 100%; 
    width: auto;
}

.data-provider-img {
    height: 10em;
}

.fixed-height-img {
    padding: .5em;
    max-height: 100%;
    max-width: 100%;
    width:auto;
    height:auto;
}

.section-title {
    border-bottom: 1px solid black;
    margin-top: 1em;
    margin-bottom: 2em;
}

.result-content {
    padding-top: .8em;
}

.list-group-item.active {
    background-color: gray;
    border-color: gray;
}