<!-- • problem statement and scope 
• visualization of main results with proper explanation 
• links to additional resources (Final Technical Report, previous work or related projects, data if openly available etc.) 
• Information about the team and the partner sponsor -->

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <div id="project-title" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://miro.medium.com/max/2003/1*bhoQuQl5WTUUGxujiY2ZSw.jpeg" class="d-block w-80" alt="pretty image">
          <div class="carousel-caption rounded-lg">
            <h1 class="display-4">Mapping Economic Change in New York City’s Telecom Industry</h1>
            <p class="lead">NYU CUSP Capstone Project 2020</p>
          </div>
        </div>
      </div>
    </div>  

    {%- include problem.html -%}

    <hr>
    
    {%- include data.html -%}

    <hr>
    <div id ="methodology" class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h2>Project Methodology</h2>
        </div>
        <div class="col-12">
          <p>TODO</p>
        </div>
      </div>
    </div>
    <hr>

    {%- include results.html -%}
    
    <div id ="conclusions" class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h2>Conclusions</h2>
        </div>
        <div class="col-12">
          <p>TODO</p>
        </div>
      </div>
    </div>

    {%- include footer.html -%}

  </body>

  <div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </div>

</html>