<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>
    {%- include header.html -%}

    <div id="the-team" class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1 class="display-4">OUR TEAM</h1>
        
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
            <div class="card" >
                <img src="/assets/images/erik.jpg" class="card-img-top" alt="Erik Lopez">
                <div class="card-body">
                    <h5 class="card-title">Erik Lopez</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div style="height:3em;">
                        <img class="" style="height: 100%; width: auto;" src="/assets/images/github.png" href="#" >
                        <img class="" style="height: 100%; width: auto;" src="/assets/images/linkedin.png" href="#" >
                    </div>
                </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card" >
                <img src="/assets/images/wesley.jpg" class="card-img-top" alt="Wesley Chioh">
                <div class="card-body">
                    <h5 class="card-title">Wesley Chioh</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div style="height:3em;">
                        <img class="" style="height: 100%; width: auto;" src="/assets/images/github.png" href="#" >
                        <img class="" style="height: 100%; width: auto;" src="/assets/images/linkedin.png" href="#" >
                    </div>
                </div>
            </div>              
          </div>
            <div class="col-md-3">
                <div class="card" >
                    <img src="/assets/images/yichen.jpg" class="card-img-top" alt="Yichen Liu">
                    <div class="card-body">
                        <h5 class="card-title">Yichen Liu</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div style="height:3em;">
                            <img class="" style="height: 100%; width: auto;" src="/assets/images/github.png" href="#" >
                            <img class="" style="height: 100%; width: auto;" src="/assets/images/linkedin.png" href="#" >
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" >
                    <img src="/assets/images/ziyu.JPG" class="card-img-top" alt="Ziyu Yan">
                    <div class="card-body">
                        <h5 class="card-title">Ziyu Yan</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div style="height:3em;">
                            <img class="" style="height: 100%; width: auto;" src="/assets/images/github.png" href="#" >
                            <img class="" style="height: 100%; width: auto;" src="/assets/images/linkedin.png" href="#" >
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
    <hr>
    <div id="our-mentor" class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1 class="display-4">OUR MENTOR</h1>
                <h4>Junaid Khan</h4>
                <h6>TODO: Short Description</h6>
            </div>
        </div>
    </div>
    <hr>
    <div id="our-sponsor" class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1 class="display-4">OUR SPONSOR</h2>
                <h4>NYC Dept. of Information Technology & Telecommunications</h4>
                <h4>and Town+Gown</h4>
                <h6>TODO: Short Description</h6>
            </div>
        </div>
    </div>

    {%- include footer.html -%}
</body>

<div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</div>

</html>