<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>
    {%- include header.html -%}

    <div id="our-team" class="container-fluid">
        <div class="row">
            <div class="col-12 section-title">
                <h1 class="display-4 text-center">OUR TEAM</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card text-center border-0" >
                    <img src="/assets/images/erik.jpg" class="card-img-top rounded-circle" alt="Erik Lopez">
                    <div class="card-body">
                        <h5 class="card-title">Erik Lopez</h5>
                        <p class="card-text">
                            Tech lead for building and maintaining this website, taking care of publishing materials properly. 
                            Additionally supports tasks of data collection and analysis. 
                        </p>
                        <div class="social-icons" >
                            <img class="team-image" src="/assets/images/github.png" href="https://github.com/lobodemonte" >
                            <img class="team-image" src="/assets/images/linkedin.png" href="https://www.linkedin.com/in/erik-lopez-893b0371/" >
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center border-0" >
                    <img src="/assets/images/wesley.jpg" class="card-img-top rounded-circle" alt="Wesley Chioh">
                    <div class="card-body">
                        <h5 class="card-title">Wesley Chioh</h5>
                        <p class="card-text">
                            Project lead in charge of coordinating team members, ensuring stakeholders are properly updated. 
                            Additionally in charge of geospacial analysis.
                        </p>
                        <div class="social-icons" >
                            <img class="team-image" src="/assets/images/github.png" href="https://github.com/westerleyy" >
                            <img class="team-image" src="/assets/images/linkedin.png" href="https://www.linkedin.com/in/weschioh/" >
                        </div>
                    </div>
                </div>              
            </div>
        <div class="col-md-3">
            <div class="card text-center border-0" >
                <img src="/assets/images/yichen.jpg" class="card-img-top rounded-circle" alt="Yichen Liu">
                <div class="card-body">
                    <h5 class="card-title">Yichen Liu</h5>
                    <p class="card-text">
                        Machine learning analyst in charge of conducting sentiment analysis of tweets relating to Telecommunications companies.
                    </p>
                    <div class="social-icons" >
                        <img class="team-image" src="/assets/images/github.png" href="https://github.com/lyc1005" >
                        <img class="team-image" src="/assets/images/linkedin.png" href="https://www.linkedin.com/in/yichen-liu-5a2223146/" >
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center border-0" >
                <img src="/assets/images/ziyu.JPG" class="card-img-top rounded-circle" alt="Ziyu Yan">
                <div class="card-body">
                    <h5 class="card-title">Ziyu Yan</h5>
                    <p class="card-text">
                        Economist in charge of performing market analysis of NYC's Telecommunications market, and public policy recommendations dependant on findings. 
                    </p>
                    <div class="social-icons" >
                        <img class="team-image" src="/assets/images/github.png" href="https://github.com/ZiyuYan9" >
                        <img class="team-image" src="/assets/images/linkedin.png" href="https://www.linkedin.com/in/ziyu-yan-12731a196/" >
                    </div>
                </div>
            </div>                
        </div>
        </div>
    </div>
    <div id="our-mentor" class="container-fluid">
        <div class="row">
            <div class="col-12 section-title">
                <h1 class="display-4 text-center">OUR MENTOR</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-3">
                <div class="card text-center border-0" >
                    <img src="/assets/images/junaid.jpg" class="card-img-top rounded-circle" alt="Junaid Khan">
                    <div class="card-body">
                        <h5 class="card-title">Junaid Khan</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <p class="col-md-10 text-center">
                Junaid Ahmed Khan is a postdoctoral research associate at the Center for Urban Science and Progress (CUSP), New York University. 
                Prior to this, he was a research fellow at the DRONES and Smart City research clusters at the FedEx Institute of Technology, 
                University of Memphis from January 2018 to August 2019. 
                <br>
                He was a postdoctoral researcher at Inria Agora team, CITI lab at the National Institute of Applied Sciences, Lyon, France from October 2016 to January 2018. 
                He has a Ph.D in Computer Science from Université Paris-Est, Marne-la-Vallée, France in November 2016. 
                <br>
                His research interests are Connected Autonomous Vehicles (CAVs), Fog networking, Internet of Things (IoTs), 
                Information-Centric Networks (ICN/CCN) and Complex/Social networks analysis.
            </p>
        </div>
    </div>
    <div id="our-sponsor" class="container-fluid">
        <div class="row">
            <div class="col-12 section-title">
                <h1 class="display-4 text-center">OUR SPONSORS</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <p>
                    We would like to especially thank <b>Zachary Gold</b> from NYC's DoITT for providing us with his input and guidance throughout the project.
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card text-center border-0" >
                    <div class="data-provider-img d-flex justify-content-center">
                        <img src="/assets/images/nyu_cusp_logo.png" class="card-img-top fixed-height-img" alt="NYU CUSP">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Center for Urban Science + Progress</h5>
                        <p class="card-text">
                            New York University’s Center for Urban Science and Progress (CUSP) is an interdisciplinary research center 
                            dedicated to the application of science, technology, engineering, and mathematics in the service of urban 
                            communities across the globe. 
                            <br>
                            Using New York City as our laboratory and classroom, we strive to develop novel data- and technology-driven 
                            solutions for complex urban problems.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card text-center border-0" >
                    <div class="data-provider-img d-flex justify-content-center">
                        <img src="/assets/images/nyc-doitt.svg" class="card-img-top fixed-height-img" alt="NYC DoITT">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">NYC Dept. of Information Technology & Telecommunications</h5>
                        <p class="card-text">
                            DoITT provides for the sustained, efficient, and effective delivery of IT services, infrastructure, 
                            and telecommunications to enhance service delivery to the City's residents, businesses, employees, and visitors. 
                            <br>
                            As the City’s technology leader we are responsible for maintaining the core IT infrastructure and systems that touch every 
                            aspect of city life—from public safety to human services, from education to economic development—crossing the full spectrum 
                            of governmental operations.  
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {%- include footer.html -%}
</body>

<div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</div>

</html>